In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = ["1","2","3","1","2","3"]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

['1', '2', '3', '1', '2', '3']

In [6]:
list(zip(outside,inside))

[('G1', '1'), ('G1', '2'), ('G1', '3'), ('G2', '1'), ('G2', '2'), ('G2', '3')]

In [7]:
hier_index

MultiIndex([('G1', '1'),
            ('G1', '2'),
            ('G1', '3'),
            ('G2', '1'),
            ('G2', '2'),
            ('G2', '3')],
           )

In [8]:
df = pd.DataFrame(randn(6,2), hier_index, ["A","B"])

In [9]:
df

             A         B
G1 1  0.236858 -1.748002
   2 -0.139948 -0.228671
   3 -1.459680 -1.463375
G2 1  0.013009 -1.806855
   2 -0.520261  0.246031
   3  0.574055 -0.487165

In [10]:
df.loc["G1"]

          A         B
1  0.236858 -1.748002
2 -0.139948 -0.228671
3 -1.459680 -1.463375

In [11]:
df.loc["G1"].loc["1"]

A    0.236858
B   -1.748002
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ["Groups","Num"]

In [14]:
df

                   A         B
Groups Num
G1     1    0.236858 -1.748002
       2   -0.139948 -0.228671
       3   -1.459680 -1.463375
G2     1    0.013009 -1.806855
       2   -0.520261  0.246031
       3    0.574055 -0.487165

In [15]:
df.loc["G2"].loc["2"]["B"]

0.2460305083197295

In [17]:
df.xs("G1")

            A         B
Num
1    0.236858 -1.748002
2   -0.139948 -0.228671
3   -1.459680 -1.463375

In [18]:
df.xs("1", level="Num")

               A         B
Groups
G1      0.236858 -1.748002
G2      0.013009 -1.806855