In [3]:
pip install sqlalchemy

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

  Downloading https://files.pythonhosted.org/packages/c4/9d/a6e893f67b7fe3bb054dba6b208b073ed5e03c43f05180e1f14d48c335ba/SQLAlchemy-1.3.19-cp38-cp38-win32.whl (1.2MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.19

In [4]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/0a/be/c739cc86c76f7bf190af126737f0e664b2b719337b046368301cc778db06/lxml-4.5.2-cp38-cp38-win32.whl (3.2MB)
Installing collected packages: lxml
Successfully installed lxml-4.5.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [5]:
pip install html5lib

Collecting html5lib
  Downloading https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl (112kB)
Requirement already satisfied: six>=1.9 in c:\users\acer\appdata\roaming\python\python38\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\acer\appdata\roaming\python\python38\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [6]:
pip install BeautifulSoup4

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
Collecting soupsieve>1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.9.1 soupsieve-2.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

SyntaxError: invalid syntax (<ipython-input-7-0a8cf7b99133>, line 1)

In [14]:
import pandas as pd

In [17]:
pwd

'C:\\Users\\acer\\DS\\General_workspace'

In [20]:
pd.read_csv("ornekcsv.csv", delimiter = ";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [21]:
df = pd.read_csv("ornekcsv.csv", delimiter = ";")

In [22]:
df

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [26]:
df.to_csv("my_output", index=False)

In [27]:
pd.read_csv("my_output")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [31]:
pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [33]:
pd.read_excel("Excel_Sample.xlsx")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [35]:
df.to_excel("Excel_Sample2.xlsx")

ModuleNotFoundError: No module named 'openpyxl'