# One Sample t Test

Analyze if collage students get 7.2 hours of sleep, on average, based on a samle students:alpha=0.005

H0 : mu = 7.2

Ha : mu > 7.2

In [1]:
import random
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import math
import pandas as pd

In [3]:
df = pd.read_csv("students.csv")

In [4]:
df.head()

,ID,Gender,Classification,Height,Shoe Size,Phone Time,# of Shoes,Birth order,Pets,Happy,...,Exercise,Stat Pre,Stat Post,Phone Type,Sleep,Social Media,Impact of SocNetworking,Political,Animal,Superhero
0,1,male,senior,67.75,7.0,12.0,12.0,youngest,5.0,0.80,...,360,3.0,NaN,iPhone,7.0,180.0,worse,Democrat,Dog person,Batman
1,2,male,freshman,71.00,7.5,1.5,5.0,middle,4.0,0.75,...,200,9.0,NaN,Android smartphone,7.0,20.0,better,Democrat,Dog person,Batman
2,3,female,freshman,64.00,6.0,25.0,15.0,oldest,8.0,0.90,...,30,7.0,5.0,Android smartphone,8.0,60.0,better,Republican,Dog person,Batman
3,4,female,freshman,63.00,6.5,30.0,30.0,middle,12.0,0.98,...,180,6.0,7.0,iPhone,6.0,60.0,better,Republican,Both,Superman
4,5,male,senior,69.00,6.5,23.0,8.0,oldest,4.0,0.75,...,180,4.0,7.0,iPhone,5.5,60.0,worse,Independent,Dog person,Superman

In [5]:
onesample = stats.ttest_1samp(df['Sleep'], 7.2)

In [6]:
print(f'p-value for two sided test: {onesample.pvalue:.4f}')

p-value for two sided test: 0.0580

In [7]:
alpha = 0.05
p_value = onesample.pvalue
if p_value<alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of Ha.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.05 level of significance, we fail to reject the null hypothesis.

In [ ]:
Tests on the Dif

In [8]:
df = pd.read_csv("catalysts.csv")

In [9]:
df

   Observation Number  Catalyst1  Catalyst2
0                   1      91.50      89.19
1                   2      94.18      90.95
2                   3      92.18      90.46
3                   4      95.39      93.21
4                   5      91.79      97.19
5                   6      89.07      97.04
6                   7      94.72      91.07
7                   8      89.21      92.75

In [10]:
xbar1 = df["Catalyst1"].mean()
xbar2 = df["Catalyst2"].mean()

s1 = df["Catalyst1"].std()
s2 = df["Catalyst2"].std()

In [11]:
print("xbar1 = {:.3f}".format(xbar1))
print("xbar2 = {:.3f}".format(xbar2))

print("s1 = {:.3f}".format(s1))
print("s2 = {:.3f}".format(s2))

xbar1 = 92.255
xbar2 = 92.732
s1 = 2.385
s2 = 2.983

In [14]:
s_pooled = math.sqrt(((len(df['Catalyst1']) - 1) * (s1 ** 2) + (len(df['Catalyst2']) - 1) * (s2 ** 2)) / (len(df['Catalyst1']) - 1 + len(df['Catalyst2']) - 1))
print('spooled = {:.3f}'.format(s_pooled))

spooled = 2.701

In [16]:
t_statistic = (xbar1-xbar2)/s_pooled*math.sqrt(1/len(df['Catalyst1']) + 1/len(df['Catalyst2']))
print ('t_statistic = {:.3f}'.format(t_statistic))

t_statistic = -0.088