In [10]:
xx = [1, 2, 3]
result = [[]]
for j in xx:
    my_perms = []
    for p in result:
        for i in range(len(p)+1):
            my_perms.append(p[:i] + [j] + p[i:])
            result = my_perms
print(result)

[[1]]
[[1]]
[[2, 1]]
[[2, 1], [1, 2]]
[[2, 1], [1, 2]]
[[3, 2, 1]]
[[3, 2, 1], [2, 3, 1]]
[[3, 2, 1], [2, 3, 1], [2, 1, 3]]
[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2]]
[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2]]
[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2], [1, 2, 3]]
[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2], [1, 2, 3]]
[[3, 2, 1], [2, 3, 1], [2, 1, 3], [3, 1, 2], [1, 3, 2], [1, 2, 3]]

In [17]:
p = [1,2]
print(p[:0])
print(p[0:])
print(p[:0] + p[0:])
print(p[:0] + [3] + p[0:])

[]
[1, 2]
[1, 2]
[3, 1, 2]

In [18]:
def my_min(*numbers):
    min = numbers[0]
    for i in numbers:
        for j in numbers:
            if i < j and i < min:
                min = i
    return min
print(my_min(5,6,7))
print(my_min(3,8,-9,0,12,1.2))
print(my_min(-100))

5
-9
-100

In [2]:
def my_sum(*numbers):
    total = 0
    for i in numbers:
        total += i
    return total
print(my_sum(9, 1, 3, 0, -1))
print(my_sum(5, 7, 4))
print(my_sum(10, -20, 30, 40))

12
16
60

In [5]:
class Calculator:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def add(self):
        return self.num1+self.num2
    def subtract(self):
        return self.num1-self.num2
    def multiply(self):
        return self.num1*self.num2
    def divide(self):
        return self.num1/self.num2
cal1 = Calculator(10,5)#example
cal1.divide()#example
cal1.add()
cal2 = Calculator(100, 4)
print(cal2.add())
print(cal2.subtract())
print(cal2.multiply())
print(cal2.divide())

104
96
400
25.0

In [2]:
def my_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact
print(my_fact(5))
print(my_fact(4))
print(my_fact(3))

120
24
6

In [5]:
def most_freq(given_list):
    return max(given_list, key=given_list.count)
print(most_freq([1,2,3,3,3,3,4,4,5,5])) 
print(most_freq([1,1,2,3,3])) 
print(most_freq([3,1,2,1,3]))

3
1
3

In [ ]:
def most_freq(given_list):
    
    
    return max(given_list, key=given_list.count)
print(most_freq([1,2,3,3,3,3,4,4,5,5])) 
print(most_freq([1,1,2,3,3])) 
print(most_freq([3,1,2,1,3]))

In [6]:
def solve(s):
    c = s.split(" ")
    d = []
    for i in c:
        d.append(i.capitalize())
    #d = d[:] + " " + d[i]
    d = " ".join(d)
    return d
print(solve("1a w 2 r 3g"))
print(solve("123Chris alan"))
print(solve("123Chris hasan alan "))

1a W 2 R 3g
123chris Alan
123chris Hasan Alan

In [7]:
def solve(s):
    for x in s.split():
        s = s.replace(x, x.capitalize())
    return s
print(solve("1a w 2 r 3g"))
print(solve("123Chris alan"))
print(solve("123Chris hasan alan "))

1a W 2 R 3g
123chris Alan
123chris Hasan Alan

In [11]:
import string
def print_rangoli(size):
    x=string.ascii_lowercase[:size]
    width=size+(size-1)
    width+=width-1
    for ii in range(1,size):
        print("-".join(x[-1:-ii:-1]+x[-ii:]).center(width, "-"))
    for i in range(size):
        print("-".join(x[size-1:i:-1]+x[i:]).center(width, "-"))
print_rangoli(0)

In [13]:
_, X = map(int, input().split())
grades = []
for i in range(X):
    grades.append(list(map(float, input().split())))
for i in zip(*grades):
    print(sum(i)/X)

2 2
50 70
60 80
55.0
75.0

In [25]:
def intersection_union(lst1, lst2):
	lst1 = set(lst1)
	lst2 = set(lst2)
	inter = lst1 & lst2
	union = lst1 | lst2
	result = []
	result.append(sorted(inter))
	result.append(sorted(union))
	return(result)
lst1 = {1,3,5,7,9,5,4}
lst2 = {2,4,6,7,3,9}
print(intersection_union(lst1, lst2))

[[3, 4, 7, 9], [1, 2, 3, 4, 5, 6, 7, 9]]

In [26]:
n = [1,2,3]
print(*n)

1 2 3

In [1]:
def encrypt(word):
    dict={"a":0,"e":1 ,"i":2, "o":2, "u":2}
    print(*[dict[x] if x in dict else x for x in word[::-1]],end="aca",sep="")
encrypt("clarusway")

y0ws2r0lcaca

In [4]:
print(*["a","b","c","d"], sep="")

abcd

In [6]:
d={} 
for i in range(int(input('Total student number: '))): 
    n=input('Name: ') 
    s=float(input('Score: ')) 
    d[n]=s 
s=sorted(list(set(d.values())))[1]
print(s)
s_l=[k for k,v in d.items() if v==s]
s_l.sort() 
[print(n) for n in s_l]

Total student number: 3
Name: a
Score: 30
Name: b
Score: 20
Name: c
Score: 10
20.0
b

[None]

In [1]:
def sort_by_letter(lst):
	return sorted(lst, key=lambda x: "".join([i for i in x if i.isalpha()]))
sort_by_letter(["932c", "832u32", "2344b"])

['2344b', '932c', '832u32']

In [2]:
def sort_by_letter(lst):
	return sorted(lst, key=lambda x: [i for i in x if i.isalpha()])
sort_by_letter(["932c", "832u32", "2344b"])

['2344b', '932c', '832u32']

In [7]:
key=lambda x: [i for i in x if i.isalpha()]
print(key("er09h"))

['e', 'r', 'h']

In [ ]:
def tournament_scores(y):
    r = {}
    for g in y:
        f, z, _, l, t = g.split()
        z, l = map(int, (z, l))
        for i, z, l in ((f, z, l),(t, l, z)):
            p = 3 if z > l else 1 if z == l else 0
            r[i] = (r[i][0]+p, r[i][1]+z, r[i][2]+z-l) if i in r else (p, z, z-l)
    return sorted([[k, v[0], v[1], v[2]] for k,v in r.items()], key=lambda x: x[1:], reverse=1)

In [13]:
a = list(b)
b == a

False

In [16]:
x= "16428"
print(sorted(x))
print("".join(sorted(x)))

['1', '2', '4', '6', '8']
12468

In [20]:
def ping(i):
    if i>0:
        return pong(i-1)
    else:
        return "0"
def pong(i):
    if i>0:
        return ping(i-1)
    else:
        return "1"
print(ping(3))

1

In [21]:
class Calculator:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def add(self):
        return self.num1+self.num2
    def subtract(self):
        return self.num1-self.num2
    def multiply(self):
        return self.num1*self.num2
    def divide(self):
        return self.num1/self.num2
calculator=Calculator(10,5)#example
calculator.divide()#example

2.0

In [23]:
class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age
	def compare_age(self, other):
		if self.age<other.age:
			return (other.name + " is older than me.")
		elif self.age>other.age:
			return (other.name + " is younger than me.")
		else:
			return (other.name + " is the same age as me.")
p1 = Person("Samuel", 24)
p2 = Person("Joel", 36)
p3 = Person("Lily", 24)

print(p1.compare_age(p2))
print(p2.compare_age(p1))
print(p1.compare_age(p3))

Joel is older than me.
Samuel is younger than me.
Lily is the same age as me.

In [24]:
class Student(Person):
    def __init__(self, firstName, lastName, idNumber, scores): #   Class Constructor
        Person.__init__(self, firstName, lastName, idNumber)
        self.scores=scores    
    def calculate(self):   
        result=sum(self.scores)/len(self.scores)
        if 90<=result<=100: 
            return "O"
        elif 80<=result<90:
            return "E"
        elif 70<=result<80:
            return "A"
        elif 55<=result<70:
            return "P"
        elif 40<=result<55:
            return "D"
        elif result<40:
            return "T"

In [25]:
class User:
    user_count=0
    def __init__(self,username):
        self.username=username
        User.user_count+=1

u1 = User("johnsmith10")
print(User.user_count)

u2 = User("marysue1989")
print(User.user_count)

u3 = User("milan_rodrick")
print(User.user_count)

1
2
3

In [26]:
print(u3.username)

milan_rodrick

In [30]:
for i in range(1,11):
    
    for j in range(1,11):        
        
        if j == 10:
            
            print('{:5d} '.format(j*i))
        else:
            print('{:5d} '.format(j*i), end = "" )

    1     2     3     4     5     6     7     8     9    10
    2     4     6     8    10    12    14    16    18    20
    3     6     9    12    15    18    21    24    27    30
    4     8    12    16    20    24    28    32    36    40
    5    10    15    20    25    30    35    40    45    50
    6    12    18    24    30    36    42    48    54    60
    7    14    21    28    35    42    49    56    63    70
    8    16    24    32    40    48    56    64    72    80
    9    18    27    36    45    54    63    72    81    90
   10    20    30    40    50    60    70    80    90   100

In [29]:
for i in range(1, 11):
    for j in range(1, 11):
        print(("{:6d}".format(i * j)), end='')
    print()

     1     2     3     4     5     6     7     8     9    10
     2     4     6     8    10    12    14    16    18    20
     3     6     9    12    15    18    21    24    27    30
     4     8    12    16    20    24    28    32    36    40
     5    10    15    20    25    30    35    40    45    50
     6    12    18    24    30    36    42    48    54    60
     7    14    21    28    35    42    49    56    63    70
     8    16    24    32    40    48    56    64    72    80
     9    18    27    36    45    54    63    72    81    90
    10    20    30    40    50    60    70    80    90   100

In [31]:
class Pizza:
	count=0
	def __init__(self, ingredients):
		self.ingredients=ingredients
		Pizza.count+=1
		self.order_number=Pizza.count
	@classmethod
	def garden_feast(cls):
		ingredients=["spinach", "olives", "mushroom"]
		return cls(ingredients)
	@classmethod
	def meat_festival(cls):
		ingredients=["beef", "meatball", "bacon"]
		return cls(ingredients)
	@classmethod
	def hawaiian(cls):
		ingredients=["ham", "pineapple"]
		return cls(ingredients)
p1 = Pizza(["bacon", "parmesan", "ham"])
p2 = Pizza.garden_feast()
print(p1.ingredients)
print(p2.ingredients)
print(p1.order_number)
print(p2.order_number)

['bacon', 'parmesan', 'ham']
['spinach', 'olives', 'mushroom']
1
2

In [34]:
class Pizza:
    order_number=0
    def __init__(self,ingredients):
        self.ingredients=ingredients
        Pizza.order_number +=1
        self.order_number=Pizza.order_number
    @staticmethod 
    def hawaiian():
        return Pizza("ham, pineapple".split(","))
    @staticmethod 
    def meat_festival():
        return Pizza("beef, meatball, bacon".split(","))    
    @staticmethod   
    def garden_feast():
        return Pizza("spinach, olives, mushroom".split(","))
p1 = Pizza(["bacon", "parmesan", "ham"])
p2 = Pizza.garden_feast()
print(p1.ingredients)
print(p2.ingredients)
print(p1.order_number)
print(p2.order_number)

['bacon', 'parmesan', 'ham']
['spinach', ' olives', ' mushroom']
1
2

In [38]:
class Shiritori:
    def __init__(self):
        self.game_over = False
        self.words = []
    def play(self, word):
        if len(self.words) == 0 or self.words[-1][-1] == word[0]  and word not in self.words :
            self.words.append(word)
            return self.words
        self.game_over = True
        return 'game over'
    def restart(self):
        self.words = []
        self.game_over = False
        return 'game restarted'
my_shiritori = Shiritori()
my_shiritori.restart()

'game restarted'

In [ ]:
def id_mtrx(n):
    if type(n) == int:
        a=[0 for i in range(abs(n)) ]
        b=[]
        for i in range(abs(n)):
            if n > 0:
                c=a.copy()
                c[i] = 1
                b.append(c)
            else:
                c=a.copy()
                c[-i-1] = 1
                b.append(c)
        return b
    else :
        return "Error"

In [4]:
df = {"one":[1,2,3,4,5]}
df["two"] = [x*10 if x<2 else x**2 if x<4 else x+10 for x in df["one"]]
print(df)

{'one': [1, 2, 3, 4, 5], 'two': [10, 4, 9, 14, 15]}

In [6]:
n = int(input("how many column number do you want to design the multiplication table : "))
x = (10 // n) + (1 if 10 % n != 0 else 0) 
for a in range(x):
    for i in range(1, 11):
        if ((a + 1) * n) + 1 < 11:
            for j in range(((a * n) + 1), ((a + 1) * n) + 1):
                print(f"{j:<2} x {i:>2} = {(j*i):>3}", end = "\t")
        else:
            for j in range(((a * n) + 1), 11):
                print(f"{j:<2} x {i:>2} = {(j*i):>3}", end = "\t")
        print()
    print()

how many column number do you want to design the multiplication table : 5
1  x  1 =   1	2  x  1 =   2	3  x  1 =   3	4  x  1 =   4	5  x  1 =   5
1  x  2 =   2	2  x  2 =   4	3  x  2 =   6	4  x  2 =   8	5  x  2 =  10
1  x  3 =   3	2  x  3 =   6	3  x  3 =   9	4  x  3 =  12	5  x  3 =  15
1  x  4 =   4	2  x  4 =   8	3  x  4 =  12	4  x  4 =  16	5  x  4 =  20
1  x  5 =   5	2  x  5 =  10	3  x  5 =  15	4  x  5 =  20	5  x  5 =  25
1  x  6 =   6	2  x  6 =  12	3  x  6 =  18	4  x  6 =  24	5  x  6 =  30
1  x  7 =   7	2  x  7 =  14	3  x  7 =  21	4  x  7 =  28	5  x  7 =  35
1  x  8 =   8	2  x  8 =  16	3  x  8 =  24	4  x  8 =  32	5  x  8 =  40
1  x  9 =   9	2  x  9 =  18	3  x  9 =  27	4  x  9 =  36	5  x  9 =  45
1  x 10 =  10	2  x 10 =  20	3  x 10 =  30	4  x 10 =  40	5  x 10 =  50

6  x  1 =   6	7  x  1 =   7	8  x  1 =   8	9  x  1 =   9	10 x  1 =  10
6  x  2 =  12	7  x  2 =  14	8  x  2 =  16	9  x  2 =  18	10 x  2 =  20
6  x  3 =  18	7  x  3 =  21	8  x  3 =  24	9  x  3 =  27	10 x  3 =  30
6  x  4 =  24	7  x  4 =  28	8  x  4 =  32	9  x  4 =  36	10 x  4 =  40
6  x  5 =  30	7  x  5 =  35	8  x  5 =  40	9  x  5 =  45	10 x  5 =  50
6  x  6 =  36	7  x  6 =  42	8  x  6 =  48	9  x  6 =  54	10 x  6 =  60
6  x  7 =  42	7  x  7 =  49	8  x  7 =  56	9  x  7 =  63	10 x  7 =  70
6  x  8 =  48	7  x  8 =  56	8  x  8 =  64	9  x  8 =  72	10 x  8 =  80
6  x  9 =  54	7  x  9 =  63	8  x  9 =  72	9  x  9 =  81	10 x  9 =  90
6  x 10 =  60	7  x 10 =  70	8  x 10 =  80	9  x 10 =  90	10 x 10 = 100

In [2]:
n = int(input())
for k in range(1,11,n):
    for i in range(1,11):
        for j in range(k, k+n if k+n < 11 else 11):
            print(f'{str(j).ljust(2)} x {str(i).rjust(2)} = {str(i*j).rjust(3)}', end='     ')
        else: print()
    else: print()

4
1  x  1 =   1     2  x  1 =   2     3  x  1 =   3     4  x  1 =   4
1  x  2 =   2     2  x  2 =   4     3  x  2 =   6     4  x  2 =   8
1  x  3 =   3     2  x  3 =   6     3  x  3 =   9     4  x  3 =  12
1  x  4 =   4     2  x  4 =   8     3  x  4 =  12     4  x  4 =  16
1  x  5 =   5     2  x  5 =  10     3  x  5 =  15     4  x  5 =  20
1  x  6 =   6     2  x  6 =  12     3  x  6 =  18     4  x  6 =  24
1  x  7 =   7     2  x  7 =  14     3  x  7 =  21     4  x  7 =  28
1  x  8 =   8     2  x  8 =  16     3  x  8 =  24     4  x  8 =  32
1  x  9 =   9     2  x  9 =  18     3  x  9 =  27     4  x  9 =  36
1  x 10 =  10     2  x 10 =  20     3  x 10 =  30     4  x 10 =  40

5  x  1 =   5     6  x  1 =   6     7  x  1 =   7     8  x  1 =   8
5  x  2 =  10     6  x  2 =  12     7  x  2 =  14     8  x  2 =  16
5  x  3 =  15     6  x  3 =  18     7  x  3 =  21     8  x  3 =  24
5  x  4 =  20     6  x  4 =  24     7  x  4 =  28     8  x  4 =  32
5  x  5 =  25     6  x  5 =  30     7  x  5 =  35     8  x  5 =  40
5  x  6 =  30     6  x  6 =  36     7  x  6 =  42     8  x  6 =  48
5  x  7 =  35     6  x  7 =  42     7  x  7 =  49     8  x  7 =  56
5  x  8 =  40     6  x  8 =  48     7  x  8 =  56     8  x  8 =  64
5  x  9 =  45     6  x  9 =  54     7  x  9 =  63     8  x  9 =  72
5  x 10 =  50     6  x 10 =  60     7  x 10 =  70     8  x 10 =  80

9  x  1 =   9     10 x  1 =  10
9  x  2 =  18     10 x  2 =  20
9  x  3 =  27     10 x  3 =  30
9  x  4 =  36     10 x  4 =  40
9  x  5 =  45     10 x  5 =  50
9  x  6 =  54     10 x  6 =  60
9  x  7 =  63     10 x  7 =  70
9  x  8 =  72     10 x  8 =  80
9  x  9 =  81     10 x  9 =  90
9  x 10 =  90     10 x 10 = 100

In [8]:
print(list(range(1,11,5)))

[1, 6]

In [12]:
import numpy as np

In [19]:
dict = {}
for i in range(1,6):
    dict[f"student-{i}"] = {f"lesson-{j}" : np.random.randint(35,100) for j in range(1,6)}
dict

{'student-1': {'lesson-1': 99,
  'lesson-2': 90,
  'lesson-3': 83,
  'lesson-4': 35,
  'lesson-5': 89},
 'student-2': {'lesson-1': 91,
  'lesson-2': 64,
  'lesson-3': 41,
  'lesson-4': 39,
  'lesson-5': 50},
 'student-3': {'lesson-1': 71,
  'lesson-2': 85,
  'lesson-3': 54,
  'lesson-4': 71,
  'lesson-5': 88},
 'student-4': {'lesson-1': 67,
  'lesson-2': 83,
  'lesson-3': 84,
  'lesson-4': 64,
  'lesson-5': 55},
 'student-5': {'lesson-1': 85,
  'lesson-2': 91,
  'lesson-3': 83,
  'lesson-4': 74,
  'lesson-5': 60}}